
  
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<body>
<img class="image" src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/s960x960/60965412_2660377340856043_5919357952078118912_o.jpg?_nc_cat=101&_nc_ohc=OlOBwY4LFP0AQnutvbyiXEfKE4ar83Bm8olCM0RdJ4fuG_98tzudAx7HQ&_nc_ht=scontent.fdel1-2.fna&oh=14bbd74158c7a225090b7f4ecc56d917&oe=5E712FA7"/>
<h1>This is <strong>Visualize</strong>, a responsive site template designed by Iamksr a Employee of BitternTec in Noida.</h1>

<div class="socialmedia">
<a href="https://twitter.com/tittobhaiya"><i class="fa fa-twitter"></i></a>
<a href="https://www.facebook.com/ImTitto"><i class="fa fa-facebook"></i></a>
<a href="https://www.instagram.com/iamksr/"><i class="fa fa-instagram"></i></a>
<a href="https://www.tumblr.com/blog/tittobhaiya"><i class="fa fa-tumblr"></i></a>
</div>
<h1>This is Our<strong>College Tour</strong>Organised by SRS</h1>

<div class="tripple">
<div class="boximg">
<img src="http://25.media.tumblr.com/tumblr_m411ji0JVd1qib5bvo1_500.jpg" />
<p>Pearls of Europe Summers</p>
</div>

<div class="boximg">
<img src="https://templated.co/items/demos/visualize/images/thumbs/05.jpg" />
<p>Meghalaya, India</p>
</div>

</div>


<div class="tripple">
<div class="boximg">    
<img src="https://templated.co/items/demos/visualize/images/thumbs/06.jpg" />
<p>Epcase Flae, Switzerland</p>
</div>

<div class="boximg">                    
<img src="https://templated.co/items/demos/visualize/images/thumbs/07.jpg"/>
<p>Prisoners of Azkaban</p>
</div>
</div>

<div class="tripple">
<div class="boximg">
<img src="https://templated.co/items/demos/visualize/images/thumbs/03.jpg" />
<p>Hamingtton, London</p>
</div>

<div class="boximg">
<img src="http://netdna.coolthings.com/wp-content/uploads/2014/09/stacked-hong-kong-peter-stewart-1.jpg" />
<p>Ciepai Lek, Bangkok</p>
</div>


<div class="boximg">
<img src="https://templated.co/items/demos/visualize/images/thumbs/02.jpg" />
<p>Lorem ipsum dolor sit amet</p>
</div>

</div>
<hr />
<p class="footer" align="center">© Iamksr. All rights reserved. Design: Iamksr. Demo Images: Google.</p>
</body>
<style type="text/css">
    body{
    background: linear-gradient(#E17153, #E58D63, #f1ab53); 
    background-repeat: no-repeat; background-size: cover; background-attachment: fixed; text-align: center;
       font-family: Source Sans Pro, sans-serif;font-weight:200; padding-bottom:50px; }
.image {width:  200px;
    height: 200px;
   background: linear-gradient(#F17153, #F58D63, #f1ab53);  border-radius: 50%; margin: 20px auto; padding:5px; border: 1px solid #C7C7D0; margin-top:50px;}

h1 {  font-family: Source Sans Pro, sans-serif; color: #C7C7D0; font-weight:200; margin:10px auto; width:70%; line-height:1.5;}

.socialmedia a { background-color:rgba(255, 255, 255, 0.075); text-decoration: none; font-size:16pt; transition:.5s all;
color:#C7C7D0; border:1px solid #C7C7D0; width:50px; height:50px; display: inline-block; padding:10px; border-radius:50%; }

.socialmedia a:hover,strong { color: #FFFFFF; border-color:#FFF; font-weight: 200; }

div.tripple { width:364px; display: inline-block; text-align: center; vertical-align: top; }

.boximg { color:#FFF; background-color:rgba(255, 255, 255, 0.075); width:346px; height:auto; margin:20px auto; border:1px solid #C7C7D0; border-radius:5px; overflow: hidden;  transition: 0.5s all;}
.boximg img { width:346px; height:auto;  }
.boximg p { min-height:50px; display:block; padding-top:20px; text-align:center;  }

.boximg:hover { box-shadow:0 0 20px #333333; border:1px solid #FFF;}
.footer { color: #FFFFFF; font-size:11pt; }
hr { width:10%;background-color:rgba(255, 255, 255, 0.075); margin-top:70px; margin-bottom:70px; }
@media (min-width: 992px){
.col-md-10 {
    width: 83.33333333%;
    float: right;
}
}
</style>